header{
    background-color: #3d3e5f;
    color:white;
    padding:6px;
    min-height: 7vh;
    border:6px 6px #0f0f1b;
}

main{
    min-height: 84.8vh;
}

footer{
    background-color: #353655;
    color:white;
    padding:6px;
    min-height: 4vh;
    border:6px 6px #0f0f1b;
}

.navx{
    min-height: 4vh;
}

img{
    max-height:200px;
    width:auto;
}

.atags{
    color: #464ac7;
    text-decoration: none;
}
.atags:hover{
    color: #7173a3;
}

.atagz{
    text-decoration: none;
    color: #999bdb;
}
.atagz:hover{
    color: #d7daff;
}

.ptitle{
    font-size: xx-large;
}